SECRET_KEY=
DEBUG=True

# Leave empty to use SQLite. Example: postgres://user:password@localhost:5432/pos_db
DATABASE_URL=

ALLOWED_HOSTS=

CORS_ALLOWED_ORIGINS=

JWT_ACCESS_MINUTES=30
JWT_REFRESH_DAYS=1
